---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Thu, 24 Oct 2024 21:52:41 GMT
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=Yankari+Game+Reserve&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"Q1473112":{"pageid":1411129,"ns":0,"title":"Q1473112","lastrevid":2196807666,"modified":"2024-07-06T11:11:31Z","type":"item","id":"Q1473112","labels":{"zh-hans":{"language":"zh-hans","value":"\u626c\u5361\u91cc\u56fd\u5bb6\u516c\u56ed"},"zh-hant":{"language":"zh-hant","value":"\u63da\u5361\u91cc\u570b\u5bb6\u516c\u5712"},"zh-hk":{"language":"zh-hk","value":"\u63da\u5361\u91cc\u570b\u5bb6\u516c\u5712"},"de":{"language":"de","value":"Yankari-Nationalpark"},"pl":{"language":"pl","value":"Park
        Narodowy Yankari"},"en":{"language":"en","value":"Yankari National Park"},"es":{"language":"es","value":"Parque
        nacional Yankari"},"fr":{"language":"fr","value":"parc national de Yankari"},"zh":{"language":"zh","value":"\u63da\u5361\u91cc\u570b\u5bb6\u516c\u5712"},"ceb":{"language":"ceb","value":"Yankari
        National Park"},"sv":{"language":"sv","value":"Yankari nationalpark"},"ml":{"language":"ml","value":"\u0d2f\u0d19\u0d4d\u0d15\u0d3e\u0d30\u0d3f
        \u0d26\u0d47\u0d36\u0d40\u0d2f\u0d4b\u0d26\u0d4d\u0d2f\u0d3e\u0d28\u0d02"},"it":{"language":"it","value":"parco
        nazionale di Yankari"},"sr":{"language":"sr","value":"\u041d\u0430\u0446\u0438\u043e\u043d\u0430\u043b\u043d\u0438
        \u043f\u0430\u0440\u043a \u0408\u0430\u043d\u043a\u0430\u0440\u0438"},"ha":{"language":"ha","value":"Dajin
        shakatawa na Yankari"},"ff":{"language":"ff","value":"Ladde Yankari"},"ru":{"language":"ru","value":"\u042f\u043d\u043a\u0430\u0440\u0438
        (\u043f\u0430\u0440\u043a)"},"ig":{"language":"ig","value":"Yankari National
        park"},"ja":{"language":"ja","value":"\u30e4\u30f3\u30ab\u30ea\u56fd\u7acb\u516c\u5712"},"ur":{"language":"ur","value":"\u06cc\u0646\u06a9\u0627\u0631\u06cc
        \u06af\u06cc\u0645 \u0631\u06cc\u0632\u0631\u0648"},"fi":{"language":"fi","value":"Yankarin
        luonnonsuojelualue"}},"descriptions":{"en":{"language":"en","value":"national
        park in Nigeria"},"es":{"language":"es","value":"parque nacional en Nigeria"},"fr":{"language":"fr","value":"parc
        national du Nigeria"},"de":{"language":"de","value":"Nationalpark in Nigeria"},"id":{"language":"id","value":"taman
        nasional"},"pl":{"language":"pl","value":"Rezerwat natury"},"ja":{"language":"ja","value":"\u30ca\u30a4\u30b8\u30a7\u30ea\u30a2\u306e\u56fd\u7acb\u516c\u5712\u3001\u8003\u53e4\u907a\u8de1\u304c\u3042\u308b"},"ig":{"language":"ig","value":"ogige
        nt\u1ee5r\u1ee5nd\u1ee5 na Nigeria"}},"aliases":{"de":[{"language":"de","value":"Yankari
        Game Reserve"},{"language":"de","value":"Yankari National Park"},{"language":"de","value":"Yankari"}],"en":[{"language":"en","value":"Yankari
        Game Reserve"}],"ja":[{"language":"ja","value":"\u30e4\u30f3\u30ab\u30ea\u72e9\u731f\u533a"}],"ig":[{"language":"ig","value":"Yankari
        game Reserve"}]},"claims":{"P814":[{"mainsnak":{"snaktype":"value","property":"P814","hash":"20dfc7f4c52c2ad082d5eb39a3b9fd438436fd9c","datavalue":{"value":{"entity-type":"item","numeric-id":14545628,"id":"Q14545628"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q1473112$F45A608E-0747-4A44-BD1A-74725908A1A4","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f30cbd35620c4ea6d0633aaf0210a8916130469b","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"acd295a6dc52036dea8eb0527f179013bbd07906","datavalue":{"value":{"entity-type":"item","numeric-id":570116,"id":"Q570116"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1473112$455BB3D0-25E1-41F3-8E9B-17A31E214C77","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"7530c09f06ad827559689b437ac1a0c9458adf7a","datavalue":{"value":{"entity-type":"item","numeric-id":46169,"id":"Q46169"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1473112$1ece693a-4053-b68b-0ddd-9b18721533ed","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"e1613f8199e5222c1bd884945b7edb93fe1d392c","datavalue":{"value":{"entity-type":"item","numeric-id":1714375,"id":"Q1714375"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1473112$f7476f83-49f8-f227-8fe6-da800b8a231b","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"6a37fdf1063123223d67115593cad42eae8367ac","datavalue":{"value":{"entity-type":"item","numeric-id":11286412,"id":"Q11286412"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1473112$00e560d5-48bc-8f1f-60a5-4e52fde99f1f","rank":"normal"}],"P17":[{"mainsnak":{"snaktype":"value","property":"P17","hash":"8116beb62ea32777b0b68313efb65d9b2713adc7","datavalue":{"value":{"entity-type":"item","numeric-id":1033,"id":"Q1033"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q1473112$CA02BB2C-411A-4817-96AD-E7813CE2F76F","rank":"normal"}],"P625":[{"mainsnak":{"snaktype":"value","property":"P625","hash":"41d6a01fe44f8a4ad860d8aeb5edb978142f5b84","datavalue":{"value":{"latitude":9.3,"longitude":10.5,"altitude":null,"precision":0.016666666666667,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"},"datatype":"globe-coordinate"},"type":"statement","id":"Q1473112$55A3B323-C856-445B-990C-6B33ACBA5B69","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","hash":"2f6691f49e859311bbdabd7bf37bab8f81b11a0a","datavalue":{"value":"/m/076ryx","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1473112$26E13561-E5BF-4FAD-95B5-36BA49624FE5","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","hash":"fde79ecb015112d2f29229ccc1ec514ed3e71fa2","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P1566":[{"mainsnak":{"snaktype":"value","property":"P1566","hash":"1fbbc75700b87ad2e0e8858f18e2551055897ea6","datavalue":{"value":"6941828","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q1473112$EA57FC5A-791F-4A9D-8720-2EB08DFA99D4","rank":"normal","references":[{"hash":"88694a0f4d1486770c269f7db16a1982f74da69d","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"1b3ef912a2bd61e18dd43abd184337eb010b2e96","datavalue":{"value":{"entity-type":"item","numeric-id":830106,"id":"Q830106"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"21b29802b96829840d1b92262dd46fe8e78ebf6d","datavalue":{"value":{"time":"+1991-00-00T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q1473112$D4C62677-1AE4-40DC-A5FB-89C73B7130DD","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"ec8a9e63007765a04fd91b8ad47b8f7b990217dc","datavalue":{"value":"Yankari
        Game Reserve","type":"string"},"datatype":"string"},"type":"statement","id":"Q1473112$3FF30D2E-7113-48E1-BA0B-8B782962285A","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","hash":"4d5d6bce574bdab9dda8184c4557c91e9662fe6b","datavalue":{"value":"Yankari.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q1473112$95373242-705F-49B3-ADBA-FF9A072C8E08","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f30cbd35620c4ea6d0633aaf0210a8916130469b","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"i[...]
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=Sierra+Ferrell&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"Q110877092":{"pageid":105898649,"ns":0,"title":"Q110877092","lastrevid":2247056696,"modified":"2024-09-12T12:33:47Z","type":"item","id":"Q110877092","labels":{"en":{"language":"en","value":"Sierra
        Ferrell"},"cs":{"language":"cs","value":"Sierra Ferrell"},"nl":{"language":"nl","value":"Sierra
        Ferrell"},"ast":{"language":"ast","value":"Sierra Ferrell"},"ca":{"language":"ca","value":"Sierra
        Ferrell"},"da":{"language":"da","value":"Sierra Ferrell"},"de":{"language":"de","value":"Sierra
        Ferrell"},"es":{"language":"es","value":"Sierra Ferrell"},"eu":{"language":"eu","value":"Sierra
        Ferrell"},"fi":{"language":"fi","value":"Sierra Ferrell"},"fr":{"language":"fr","value":"Sierra
        Ferrell"},"hu":{"language":"hu","value":"Sierra Ferrell"},"it":{"language":"it","value":"Sierra
        Ferrell"},"nb":{"language":"nb","value":"Sierra Ferrell"},"nn":{"language":"nn","value":"Sierra
        Ferrell"},"pl":{"language":"pl","value":"Sierra Ferrell"},"pt":{"language":"pt","value":"Sierra
        Ferrell"},"ro":{"language":"ro","value":"Sierra Ferrell"},"se":{"language":"se","value":"Sierra
        Ferrell"},"sq":{"language":"sq","value":"Sierra Ferrell"},"sv":{"language":"sv","value":"Sierra
        Ferrell"},"tr":{"language":"tr","value":"Sierra Ferrell"},"pt-br":{"language":"pt-br","value":"Sierra
        Ferrell"},"sl":{"language":"sl","value":"Sierra Ferrell"}},"descriptions":{"en":{"language":"en","value":"American
        singer-songwriter (born 1988)"},"cs":{"language":"cs","value":"americk\u00e1
        zp\u011bva\u010dka"},"dag":{"language":"dag","value":"United States of America
        artist \u014bun ny\u025b pa\u0263a"}},"aliases":{"en":[{"language":"en","value":"Sierra
        Elizabeth Ferrell"}]},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$c6e9e32f-a7a9-4b40-a923-619b19a1da51","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","hash":"5760796ff6ebc63aae12cdcbf509b07ebf0bd201","datavalue":{"value":{"entity-type":"item","numeric-id":6581072,"id":"Q6581072"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$62e6a171-5e34-4b7e-b2e6-96a767a0d9de","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","hash":"5d9aed2c3197fcda899ff4eb02863355294acc5b","datavalue":{"value":{"entity-type":"item","numeric-id":177220,"id":"Q177220"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$BE77AF47-7608-465C-9346-D46D7B4F1EAF","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P106","hash":"f04bd5aa35475a83d896ec7532cca0b93d9b80a6","datavalue":{"value":{"entity-type":"item","numeric-id":66763670,"id":"Q66763670"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$704BCE44-8A91-431A-A2A8-BAAF11A8EBDC","rank":"normal"}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","hash":"11c31a5a42852d6d6e6bceaec6670b8c54a3eda3","datavalue":{"value":"https://www.sierraferrellmusic.com/","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P407":[{"snaktype":"value","property":"P407","hash":"daf1c4fcb58181b02dff9cc89deb084004ddae4b","datavalue":{"value":{"entity-type":"item","numeric-id":1860,"id":"Q1860"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"57c1662952e75430b0b6ab3c15d26da4d2d505b8","datavalue":{"value":{"time":"+2023-02-23T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P407","P813"],"id":"Q110877092$337786E0-937D-474E-A9F0-AD8FFF00B08A","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","hash":"dabc815385d2e7ff56981f2389d5eb3cc35a3ea5","datavalue":{"value":{"time":"+1988-08-03T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q110877092$0A7421FC-82C8-4A2E-9C54-CCA6D4E4A15C","rank":"normal"}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","hash":"5f2ebe35ce3a0d68f90f7fdfc789ec535c92a6d3","datavalue":{"value":{"entity-type":"item","numeric-id":44564,"id":"Q44564"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$04B9872A-86DD-4A02-B011-699E08D7FB6D","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","hash":"52d0408c7915122e0519a22577f0cbdcb28f749b","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$78A5908F-4150-4742-B18C-CB03E117AD15","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","hash":"0d0810457278f1b2af000a86932803eb87c97680","datavalue":{"value":{"entity-type":"item","numeric-id":60505889,"id":"Q60505889"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P1545":[{"snaktype":"value","property":"P1545","hash":"2a1ced1dca90648ea7e306acbadd74fc81a10722","datavalue":{"value":"1","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1545"],"id":"Q110877092$2B1743F5-11DD-43FD-8527-133B1F567A75","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P735","hash":"2d0e733af1cf4d9318be327db70dc72363fc215b","datavalue":{"value":{"entity-type":"item","numeric-id":385468,"id":"Q385468"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P1545":[{"snaktype":"value","property":"P1545","hash":"7241753c62a310cf84895620ea82250dcea65835","datavalue":{"value":"2","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1545"],"id":"Q110877092$0C731406-C873-4196-BBD0-6DCAC8CCF2B2","rank":"normal"}],"P734":[{"mainsnak":{"snaktype":"value","property":"P734","hash":"4a905f1a3d50a11adc8abcdae2577e78623b176e","datavalue":{"value":{"entity-type":"item","numeric-id":21493846,"id":"Q21493846"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$5CDDEBFA-7A29-495C-A5C3-59FAE96AE2C1","rank":"normal"}],"P1953":[{"mainsnak":{"snaktype":"value","property":"P1953","hash":"cc90cf1797864b165ffb5bb78eb7bf49f7d5dd2d","datavalue":{"value":"6772708","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"Q110877092$515F8A56-B9F6-41C2-AB7C-1C35D84EF0FB","rank":"normal","references":[{"hash":"cd02db1175e1bfea71294f643387c6cc55986700","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"c34208b35b041d6758e6b68814cd263cacdabb10","datavalue":{"value":{"entity-type":"item","numeric-id":504063,"id":"Q504063"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P434":[{"mainsnak":{"snaktype":"value","property":"P434","hash":"bbc060629a3c6dc81b333f90af8bd7af254fdc74","datavalue":{"value":"4a27848e-ffdc-45d2-bed4-f5d62b85dc3e","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"Q110877092$CECE94D0-4647-49F9-98F1-7FC7954E03A1","rank":"normal","references":[{"hash":"d7918e5a0f3cd1e153c45f6c08753996fd0a9408","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P2002":[{"mainsnak":{"snaktype":"value","property":"P2002","hash":"e9d24160cd9c3c5aa73cd84c61dfd7246ef5182f","datavalue":{"value":"SierraFerrell","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P6552":[{"snaktype":"value","property":"P6552","hash":"83b42ab4f2af6cb1d14a1271cb846e3823b36b29","datavalue":{"value":"1167070511186272261","type":"string"},"datatype":"external-id"}],"P1552":[{"snaktype":"value","property":"P1552","hash":"62f0039d240f7eeba6c6908a0d8807a6188324a1","datavalue":{"value":{"entity-type":"item","numeric-id":28378282,"id":"Q28378282"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P580":[{"snaktype":"value","property":"P580","hash":"bd081ea65dfba78608a18db3bc52dd00fd66f014","datavalue":{"value":{"time":"+2019-08-29T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P585":[{"snaktype":"value","property":"P585","hash":"a54824908b6b1d53b5c31fe85ac8108dba4175dc","datavalue":{"value":{"time":"+2021-12-27T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P6552","P1552","P580","P585"],"id":"Q110877092$327926C5-ABA0-4588-B44A-E248201367A9","rank":"normal","references":[{"hash":"b94178579c48f8dfe9e57d6b942366c4a7a52006","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"6907ba2d586b11358b2dd25031aba4b505e9f63d","datavalue":{"value":{"entity-type":"item","numeric-id":918,"id":"Q918"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P1902":[{"mainsnak":{"snaktype":"value","property":"P1902","hash":"78675c89d61288e39c2b4a7184684c88536c3f20","datavalue":{"value":"3oVcF3VdpMuvMvLLyHPT4t","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}],"P1552":[{"snaktype":"value","property":"P1552","hash":"cd7b20383169715539c0c7d5d88b8c760830e0d1","datavalue":{"value":{"entity-type":"item","numeric-id":98962768,"id":"Q98962768"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P1810","P1552"],"id":"Q110877092$240F2039-4CC5-4221-92E9-E1CC655CB477","rank":"normal","references":[{"hash":"538bf6279e6e6d9237657c9bfacce1a400b73160","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"9ec10385b824daea40c2c192394a4ce1f4346c03","datavalue":{"value":{"entity-type":"item","numeric-id":689141,"id":"Q689141"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P136":[{"mainsnak":{"snaktype":"value","property":"P136","hash":"d2f84b1057aa80ca91181b2875332a1ce30e8285","datavalue":{"value":{"entity-type":"item","numeric-id":213714,"id":"Q213714"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$C126C43B-0FDA-4513-BF9C-829235919E58","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P136","hash":"2f8b0728d8dcd26753b6efceb6ec410c4cda2164","datavalue":{"value":{"entity-type":"item","numeric-id":43343,"id":"Q4334[...]
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=Marie+Curie&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"Q7186":{"pageid":8349,"ns":0,"title":"Q7186","lastrevid":2263968630,"modified":"2024-10-23T01:10:14Z","type":"item","id":"Q7186","labels":{"en":{"language":"en","value":"Marie
        Curie"},"fr":{"language":"fr","value":"Marie Curie"},"it":{"language":"it","value":"Marie
        Curie"},"de":{"language":"de","value":"Marie Curie"},"ilo":{"language":"ilo","value":"Marie
        Curie"},"en-ca":{"language":"en-ca","value":"Marie Curie"},"en-gb":{"language":"en-gb","value":"Marie
        Curie"},"af":{"language":"af","value":"Marie Curie"},"an":{"language":"an","value":"Marie
        Curie"},"ar":{"language":"ar","value":"\u0645\u0627\u0631\u064a \u0643\u0648\u0631\u064a"},"arz":{"language":"arz","value":"\u0645\u0627\u0631\u0649
        \u0643\u0648\u0631\u0649"},"ast":{"language":"ast","value":"Marie Curie"},"az":{"language":"az","value":"Mariya
        K\u00fcri"},"be":{"language":"be","value":"\u041c\u0430\u0440\u044b\u044f
        \u041a\u044e\u0440\u044b"},"bg":{"language":"bg","value":"\u041c\u0430\u0440\u0438\u044f
        \u041a\u044e\u0440\u0438"},"bn":{"language":"bn","value":"\u09ae\u09be\u09b0\u09bf
        \u0995\u09cd\u09af\u09c1\u09b0\u09bf"},"br":{"language":"br","value":"Marie
        Curie"},"bs":{"language":"bs","value":"Marie Curie"},"ca":{"language":"ca","value":"Marie
        Curie"},"ckb":{"language":"ckb","value":"\u0645\u0627\u0631\u06cc \u06a9\u0648\u0648\u0631\u06cc"},"cs":{"language":"cs","value":"Marie
        Curie-Sk\u0142odowsk\u00e1"},"cv":{"language":"cv","value":"\u041a\u044e\u0440\u0438
        \u041c\u0430\u0440\u0438\u044f"},"cy":{"language":"cy","value":"Marie Curie"},"da":{"language":"da","value":"Marie
        Curie"},"diq":{"language":"diq","value":"Marie Curie"},"el":{"language":"el","value":"\u039c\u03b1\u03c1\u03af\u03b1
        \u039a\u03b9\u03bf\u03c5\u03c1\u03af"},"eo":{"language":"eo","value":"Marie
        Curie"},"es":{"language":"es","value":"Marie Curie"},"et":{"language":"et","value":"Marie
        Curie"},"eu":{"language":"eu","value":"Marie Curie"},"ext":{"language":"ext","value":"Marie
        Curie"},"fa":{"language":"fa","value":"\u0645\u0627\u0631\u06cc \u06a9\u0648\u0631\u06cc"},"fi":{"language":"fi","value":"Marie
        Curie"},"fy":{"language":"fy","value":"Maria Curie-Sk\u0142odowska"},"ga":{"language":"ga","value":"Marie
        Curie"},"gan":{"language":"gan","value":"\u5c45\u91cc\u592b\u4eba"},"gd":{"language":"gd","value":"Marie
        Curie"},"gl":{"language":"gl","value":"Marie Curie"},"gn":{"language":"gn","value":"Marie
        Curie"},"he":{"language":"he","value":"\u05de\u05d0\u05e8\u05d9 \u05e7\u05d9\u05e8\u05d9"},"hi":{"language":"hi","value":"\u092e\u0947\u0930\u0940
        \u0915\u094d\u092f\u0941\u0930\u0940"},"hif":{"language":"hif","value":"Marie
        Curie"},"hr":{"language":"hr","value":"Maria Sk\u0142odowska-Curie"},"ht":{"language":"ht","value":"Marie
        Curie"},"hu":{"language":"hu","value":"Marie Curie"},"hy":{"language":"hy","value":"\u0544\u0561\u0580\u056b
        \u053f\u0575\u0578\u0582\u0580\u056b"},"ia":{"language":"ia","value":"Marie
        Curie"},"id":{"language":"id","value":"Marie Curie"},"io":{"language":"io","value":"Marie
        Curie"},"is":{"language":"is","value":"Marie Curie"},"ja":{"language":"ja","value":"\u30de\u30ea\u30fb\u30ad\u30e5\u30ea\u30fc"},"jv":{"language":"jv","value":"Marie
        Curie"},"ka":{"language":"ka","value":"\u10db\u10d0\u10e0\u10d8 \u10e1\u10d9\u10da\u10dd\u10d3\u10dd\u10d5\u10e1\u10d9\u10d0-\u10d9\u10d8\u10e3\u10e0\u10d8"},"kk":{"language":"kk","value":"\u041c\u0430\u0440\u0438\u044f
        \u0421\u043a\u043b\u043e\u0434\u043e\u0432\u0441\u043a\u0430\u044f \u2013
        \u041a\u044e\u0440\u0438"},"km":{"language":"km","value":"\u1798\u17c9\u17b6\u179a\u17b8
        \u1782\u17bb\u1799\u179a\u17b8"},"kn":{"language":"kn","value":"\u0cae\u0cc7\u0cb0\u0cbf
        \u0c95\u0ccd\u0caf\u0cc2\u0cb0\u0cbf"},"ko":{"language":"ko","value":"\ub9c8\ub9ac
        \ud034\ub9ac"},"ku":{"language":"ku","value":"Marie Curie"},"la":{"language":"la","value":"Maria
        Curie"},"lad":{"language":"lad","value":"Marie Curie"},"lb":{"language":"lb","value":"Marie
        Curie"},"lij":{"language":"lij","value":"Marie Curie"},"lmo":{"language":"lmo","value":"Marie
        Curie"},"lt":{"language":"lt","value":"Marie Curie"},"lv":{"language":"lv","value":"Marija
        Kir\u012b"},"map-bms":{"language":"map-bms","value":"Marie Curie"},"mk":{"language":"mk","value":"\u041c\u0430\u0440\u0438\u0458\u0430
        \u0421\u043a\u043b\u043e\u0434\u043e\u0432\u0441\u043a\u0430 - \u041a\u0438\u0440\u0438"},"ml":{"language":"ml","value":"\u0d2e\u0d47\u0d30\u0d3f
        \u0d15\u0d4d\u0d2f\u0d42\u0d31\u0d3f"},"mn":{"language":"mn","value":"\u041c\u0430\u0440\u0438
        \u041a\u044e\u0440\u0438"},"mr":{"language":"mr","value":"\u092e\u0947\u0930\u0940
        \u0915\u094d\u092f\u0941\u0930\u0940"},"ms":{"language":"ms","value":"Marie
        Curie"},"mt":{"language":"mt","value":"Marie Curie"},"my":{"language":"my","value":"\u1019\u102c\u101b\u102e
        \u1000\u103b\u1030\u101b\u102e"},"mzn":{"language":"mzn","value":"\u0645\u0627\u0631\u06cc
        \u06a9\u0648\u0631\u06cc"},"nah":{"language":"nah","value":"Marie Curie"},"nds":{"language":"nds","value":"Marie
        Curie"},"nds-nl":{"language":"nds-nl","value":"Marie Curie"},"ne":{"language":"ne","value":"\u092e\u093e\u0930\u093f\u092f\u093e
        \u0915\u094d\u092f\u0941\u0930\u0940"},"new":{"language":"new","value":"\u092e\u0947\u0930\u0940
        \u0915\u094d\u092f\u0941\u0930\u0940"},"nl":{"language":"nl","value":"Marie
        Curie"},"nn":{"language":"nn","value":"Marie Curie"},"oc":{"language":"oc","value":"Marie
        Curie"},"or":{"language":"or","value":"\u0b2e\u0b47\u0b30\u0b40 \u0b15\u0b4d\u0b5f\u0b41\u0b30\u0b40"},"pa":{"language":"pa","value":"\u0a2e\u0a48\u0a30\u0a40
[...]
