---
http_interactions:
- request:
    method: get
    uri: https://www.wikipedia.org/w/api.php?action=query&format=json&palimit=50&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://en.wikipedia.org/w/api.php?action=query&format=json&palimit=50&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
      Content-Type:
      - text/html; charset=iso-8859-1
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://en.wikipedia.org/w/api.php?action=query&amp;format=json&amp;palimit=50&amp;prop=pageassessments&amp;redirects=true&amp;titles=Apple%7CFruit%7CEcosystem%7CPear">here</a>.</p>
        </body></html>
  recorded_at: Wed, 21 Jun 2023 20:16:47 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&palimit=50&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple","pageassessments":{"Plants":{"class":"GA","importance":"High"},"Wikipedia
        1.0":{"class":"GA","importance":"Mid"},"Food and drink":{"class":"GA","importance":"Top"}}},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Wikipedia
        1.0":{"class":"C","importance":"Unknown"},"South Africa":{"class":"B","importance":"Low"},"Systems":{"class":"B","importance":"Top"},"Environment":{"class":"B","importance":"Top"},"Ecology":{"class":"B","importance":"Top"},"Ecoregions":{"class":"B","importance":"High"},"Sanitation":{"class":"B","importance":"Low"},"Limnology
        and Oceanography":{"class":"B","importance":"High"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit","pageassessments":{"Plants":{"class":"C","importance":"Top"},"Wikipedia
        1.0":{"class":"C","importance":"Low"},"Food and drink":{"class":"C","importance":"Top"},"Veganism
        and Vegetarianism":{"class":"C","importance":"High"}}},"24278":{"pageid":24278,"ns":0,"title":"Pear","pageassessments":{"Plants":{"class":"C","importance":"High"},"Food
        and drink":{"class":"C","importance":"High"},"Agriculture":{"class":"C","importance":"Mid"}}}}}}'
  recorded_at: Wed, 21 Jun 2023 20:16:48 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"pacontinue":"9632|189","continue":"||"},"query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple"},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Wikipedia
        1.0":{"class":"C","importance":"Unknown"},"South Africa":{"class":"B","importance":"Low"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 21 Jun 2023 20:16:48 GMT
- request:
    method: get
    uri: https://www.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=9632%7C189&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://en.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=9632%7C189&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
      Content-Type:
      - text/html; charset=iso-8859-1
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://en.wikipedia.org/w/api.php?action=query&amp;continue=%7C%7C&amp;format=json&amp;pacontinue=9632%7C189&amp;palimit=2&amp;prop=pageassessments&amp;redirects=true&amp;titles=Apple%7CFruit%7CEcosystem%7CPear">here</a>.</p>
        </body></html>
  recorded_at: Wed, 21 Jun 2023 20:16:48 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=9632%7C189&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"pacontinue":"9632|627","continue":"||"},"query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple"},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Systems":{"class":"B","importance":"Top"},"Environment":{"class":"B","importance":"Top"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 21 Jun 2023 20:16:48 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=18978754%7C40&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple","pageassessments":{"Wikipedia
        1.0":{"class":"GA","importance":"Mid"},"Food and drink":{"class":"GA","importance":"Top"}}},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem"},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 21 Jun 2023 20:16:51 GMT
recorded_with: VCR 6.1.0
