---
http_interactions:
- request:
    method: get
    uri: https://wikiwho-api.wmcloud.org/en/api/v1.0.0-beta/rev_content/rev_id/641962088/?editor=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"article_title":"Manspreading","page_id":45010238,"success":true,"message":null,"revisions":[{"641962088":{"editor":"17423097","time":"2015-01-11T03:35:32Z","tokens":[{"str":"manspreading","editor":"17423097"},{"str":"is","editor":"17423097"},{"str":"the","editor":"17423097"},{"str":"male","editor":"17423097"},{"str":"habit","editor":"17423097"},{"str":"of","editor":"17423097"},{"str":"sitting","editor":"17423097"},{"str":"in","editor":"17423097"},{"str":"public","editor":"17423097"},{"str":"transport","editor":"17423097"},{"str":"with","editor":"17423097"},{"str":"their","editor":"17423097"},{"str":"legs","editor":"17423097"},{"str":"wide","editor":"17423097"},{"st[...]
