---
http_interactions:
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/wikidatawiki-itemquality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":641962088}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 10000, 10000;w=3600
      X-Ratelimit-Remaining:
      - '9985'
      X-Ratelimit-Reset:
      - '702'
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"wikidatawiki":{"models":{"itemquality":{"version":"0.5.0"}},"scores":{"641962088":{"itemquality":{"score":{"prediction":"D","probability":{"A":0.002866885296096887,"B":0.005822416435812799,"C":0.08426574819712691,"D":0.894309818649275,"E":0.012735131421688263}}}}}}}'
  recorded_at: Wed, 28 Jun 2023 19:48:18 GMT
recorded_with: VCR 6.1.0
