---
http_interactions:
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/wikidatawiki-itemquality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":641962088}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 'Authorization: Bearer <LIFTWING_TOKEN>'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 5000, 5000;w=3600
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '958'
      X-Client-Ip:
      - <CLIENT_IP>
    body:
      encoding: UTF-8
      string: '{"wikidatawiki":{"models":{"itemquality":{"version":"0.5.0"}},"scores":{"641962088":{"itemquality":{"score":{"prediction":"D","probability":{"A":0.002866885296096887,"B":0.005822416435812799,"C":0.08426574819712691,"D":0.894309818649275,"E":0.012735131421688263}}}}}}}'
  recorded_at: Thu, 31 Aug 2023 21:44:02 GMT
recorded_with: VCR 6.1.0
