---
http_interactions:
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":641962088}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 'Authorization: Bearer <LIFTWING_TOKEN>'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 150000, 150000;w=3600
      X-Ratelimit-Remaining:
      - '149993'
      X-Ratelimit-Reset:
      - '2625'
      X-Client-Ip:
      - <CLIENT_IP>
    body:
      encoding: UTF-8
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.9.2"}},"scores":{"641962088":{"articlequality":{"score":{"prediction":"Stub","probability":{"B":0.05346747947031159,"C":0.03566589837597718,"FA":0.0029837211689327093,"GA":0.005891859964515517,"Start":0.2826812730433699,"Stub":0.6193097679768931}}}}}}}'
  recorded_at: Tue, 28 Nov 2023 18:16:15 GMT
recorded_with: VCR 6.1.0
