---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&palimit=50&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple","pageassessments":{"Plants":{"class":"GA","importance":"High"},"Wikipedia
        1.0":{"class":"GA","importance":"Mid"},"Food and drink":{"class":"GA","importance":"Top"}}},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Wikipedia
        1.0":{"class":"B","importance":"Unknown"},"South Africa":{"class":"B","importance":"Low"},"Systems":{"class":"B","importance":"Top"},"Environment":{"class":"B","importance":"Top"},"Ecology":{"class":"B","importance":"Top"},"Ecoregions":{"class":"B","importance":"High"},"Sanitation":{"class":"B","importance":"Low"},"Limnology
        and Oceanography":{"class":"B","importance":"High"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit","pageassessments":{"Plants":{"class":"C","importance":"Top"},"Wikipedia
        1.0":{"class":"C","importance":"Low"},"Food and drink":{"class":"C","importance":"Top"},"Veganism
        and Vegetarianism":{"class":"C","importance":"High"}}},"24278":{"pageid":24278,"ns":0,"title":"Pear","pageassessments":{"Plants":{"class":"C","importance":"High"},"Food
        and drink":{"class":"C","importance":"High"},"Agriculture":{"class":"C","importance":"Mid"}}}}}}'
  recorded_at: Wed, 05 Jul 2023 19:50:02 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"pacontinue":"9632|189","continue":"||"},"query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple"},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Wikipedia
        1.0":{"class":"B","importance":"Unknown"},"South Africa":{"class":"B","importance":"Low"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 05 Jul 2023 19:50:02 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=9632%7C189&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"pacontinue":"9632|627","continue":"||"},"query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple"},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem","pageassessments":{"Systems":{"class":"B","importance":"Top"},"Environment":{"class":"B","importance":"Top"}}},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 05 Jul 2023 19:50:03 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&continue=%7C%7C&format=json&pacontinue=18978754%7C40&palimit=2&prop=pageassessments&redirects=true&titles=Apple%7CFruit%7CEcosystem%7CPear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"18978754":{"pageid":18978754,"ns":0,"title":"Apple","pageassessments":{"Wikipedia
        1.0":{"class":"GA","importance":"Mid"},"Food and drink":{"class":"GA","importance":"Top"}}},"9632":{"pageid":9632,"ns":0,"title":"Ecosystem"},"10843":{"pageid":10843,"ns":0,"title":"Fruit"},"24278":{"pageid":24278,"ns":0,"title":"Pear"}}}}'
  recorded_at: Wed, 05 Jul 2023 19:50:04 GMT
recorded_with: VCR 6.1.0
