---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Thu, 30 Apr 2026 19:42:01 GMT
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=15613&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"-1":{"site":"enwiki","title":"15613","missing":""}},"success":1}'
  recorded_at: Thu, 30 Apr 2026 19:42:01 GMT
[...]
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=2364730&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"-1":{"site":"enwiki","title":"2364730","missing":""}},"success":1}'
  recorded_at: Thu, 30 Apr 2026 19:42:03 GMT
recorded_with: VCR 6.1.0
