---
http_interactions:
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":1100917005}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50000, 50000;w=3600
      X-Ratelimit-Remaining:
      - '49973'
      X-Ratelimit-Reset:
      - '159'
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.9.2"}},"scores":{"1100917005":{"articlequality":{"score":{"prediction":"C","probability":{"B":0.282990153964015,"C":0.35733287027969207,"FA":0.01692526038760883,"GA":0.3075854796998168,"Start":0.02994526388240537,"Stub":0.005220971786461749}}}}}}}'
  recorded_at: Thu, 30 Apr 2026 20:57:22 GMT
recorded_with: VCR 6.1.0
