#vg-tooltip-element {
  @mixin open-sans;
  
  h2 {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  table {
    margin: 0;
  }

  td {
    max-width: 100% !important;
    font-size: 0.875rem;
    border: none;
    padding: 7px 0 0 0 !important;
    text-align: left !important;
  }

  td.key {
    padding-right: 0.25rem !important;
  }

  td.value {
    font-weight: 600;
  }
}