---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=California%20red-legged%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":3451780,"ns":0,"title":"California
        red-legged frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-11-07T19:31:56Z","lastrevid":1232739665,"length":20595}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Nathan_%22Nearest%22_Green
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"normalized":[{"fromencoded":false,"from":"Nathan_\"Nearest\"_Green","to":"Nathan
        \"Nearest\" Green"}],"pages":[{"pageid":50928969,"ns":0,"title":"Nathan \"Nearest\"
        Green","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-10-31T17:30:49Z","lastrevid":1248637663,"length":13643}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Cascades%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":12408856,"ns":0,"title":"Cascades
        frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-11-07T19:32:04Z","lastrevid":1197384765,"length":9234}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Agile%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":4272709,"ns":0,"title":"Agile
        frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-11-07T19:31:56Z","lastrevid":1232740118,"length":9611}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Nathan%20%22Nearest%22%20Green
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":50928969,"ns":0,"title":"Nathan
        \"Nearest\" Green","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-10-31T17:30:49Z","lastrevid":1248637663,"length":13643}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=12408856&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20070805043829|149282140","continue":"||"},"query":{"pages":[{"pageid":12408856,"ns":0,"title":"Cascades
        frog","revisions":[{"revid":146627025,"parentid":0,"user":"Polbot","userid":4477315,"timestamp":"2007-07-23T22:24:17Z","size":1027}]}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=4272709&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 73.35.177.235
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20060304113051|42184767","continue":"||"},"query":{"pages":[{"pageid":4272709,"ns":0,"title":"Agile
        frog","revisions":[{"revid":42184709,"parentid":0,"user":"Carabinieri","userid":389283,"timestamp":"2006-03-04T11:29:59Z","size":3342}]}]}}'
  recorded_at: Thu, 07 Nov 2024 22:29:47 GMT
recorded_with: VCR 6.1.0
