---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=California%20red-legged%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":3451780,"ns":0,"title":"California
        red-legged frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-24T06:51:08Z","lastrevid":1184207219,"length":20698}]}}'
  recorded_at: Mon, 29 Jan 2024 19:30:13 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Cascades%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":12408856,"ns":0,"title":"Cascades
        frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-24T06:51:20Z","lastrevid":1197384765,"length":9234}]}}'
  recorded_at: Mon, 29 Jan 2024 19:30:13 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Agile%20frog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":4272709,"ns":0,"title":"Agile
        frog","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2024-01-24T06:51:09Z","lastrevid":1178631675,"length":7592}]}}'
  recorded_at: Mon, 29 Jan 2024 19:30:13 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=3451780&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"rvcontinue":"20051217172058|31746379","continue":"||"},"query":{"pages":[{"pageid":3451780,"ns":0,"title":"California
        red-legged frog","revisions":[{"revid":31746337,"parentid":0,"user":"Eugene
        van der Pijll","userid":22016,"timestamp":"2005-12-17T17:20:35Z","size":1237}]}]}}'
  recorded_at: Mon, 29 Jan 2024 19:30:14 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=12408856&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"rvcontinue":"20070805043829|149282140","continue":"||"},"query":{"pages":[{"pageid":12408856,"ns":0,"title":"Cascades
        frog","revisions":[{"revid":146627025,"parentid":0,"user":"Polbot","userid":4477315,"timestamp":"2007-07-23T22:24:17Z","size":1027}]}]}}'
  recorded_at: Mon, 29 Jan 2024 19:30:14 GMT
recorded_with: VCR 6.1.0
