---
http_interactions:
- request:
    method: get
    uri: https://wikiwho-api.wmcloud.org/en/api/v1.0.0-beta/rev_content/rev_id/1149232773/?editor=true&o_rev_id=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"article_title":"Margaret_Focarino","page_id":43358938,"success":true,"message":null,"revisions":[{"1149232773":{"editor":"38448542","time":"2023-04-10T23:45:41Z","tokens":[{"str":"''","o_rev_id":617890589,"editor":"51336"},{"str":"''","o_rev_id":617890589,"editor":"51336"},{"str":"''","o_rev_id":617890589,"editor":"51336"},{"str":"margaret","o_rev_id":617890589,"editor":"51336"},{"str":"a","o_rev_id":617890589,"editor":"51336"},{"str":".","o_rev_id":617890589,"editor":"51336"},{"str":"(","o_rev_id":617890589,"editor":"51336"},{"str":"peggy","o_rev_id":617890589,"editor":"51336"},{"str":")","o_rev_id":617890589,"editor":"51336"},{"str":"focarino","o_rev_id":617890589,"editor":"51336"},{"[...]
