---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&arvlimit=1&arvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&arvstart=2023-01-01T00:00:00Z&format=json&formatversion=2&list=allrevisions&redirects=true&rvdir=older
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"warnings":{"main":{"warnings":"Unrecognized parameter: rvdir."}},"batchcomplete":true,"continue":{"arvcontinue":"20230101000000|1130787317","continue":"-||"},"query":{"allrevisions":[{"pageid":34745517,"revisions":[{"revid":1130787318,"parentid":1130773644,"user":"3PPYB6","userid":42453789,"timestamp":"2023-01-01T00:00:00Z","size":171376}],"ns":4,"title":"Wikipedia:Teahouse"}]}}'
  recorded_at: Wed, 09 Aug 2023 21:22:46 GMT
recorded_with: VCR 6.1.0
