<head>
  <title>WikiEdu – Visualizing Impact</title>
  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag nonce: false %>
  <%= vite_javascript_tag 'index.tsx' %>
  <div id="root"></div>
</head>