---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"rvcontinue":"20050915122639|23281131","continue":"||"},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve","revisions":[{"revid":20142847,"parentid":0,"user":"Jamie7687","userid":311307,"timestamp":"2005-08-02T21:43:23Z","size":371}]}]}}'
  recorded_at: Thu, 24 Aug 2023 23:16:43 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=older&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart=2023-01-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"rvcontinue":"20220519171123|1088700858","continue":"||"},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve","revisions":[{"revid":1100917005,"parentid":1088700858,"user":"Uncle
        Bash007","userid":37714525,"timestamp":"2022-07-28T09:46:48Z","size":13079}]}]}}'
  recorded_at: Thu, 24 Aug 2023 23:16:44 GMT
- request:
    method: get
    uri: https://impact-visualizer-tools.wmcloud.org/count_revisions.php?from_rev_id=20142847&page_id=2364730&to_rev_id=1100917005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{ "success": true, "data": [{"count":"261"}] }'
  recorded_at: Thu, 24 Aug 2023 23:16:44 GMT
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":1100917005}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50000, 50000;w=3600
      X-Ratelimit-Remaining:
      - '49993'
      X-Ratelimit-Reset:
      - '2596'
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.8.2"}},"scores":{"1100917005":{"articlequality":{"score":{"prediction":"C","probability":{"B":0.24610542305519229,"C":0.403842982844304,"FA":0.013572942908747289,"GA":0.30218674600346773,"Start":0.029190869786169683,"Stub":0.00510103540211908}}}}}}}'
  recorded_at: Thu, 24 Aug 2023 23:16:44 GMT
recorded_with: VCR 6.1.0
