---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20050915122639|23281131","continue":"||"},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve","revisions":[{"revid":20142847,"parentid":0,"user":"Jamie7687","userid":311307,"timestamp":"2005-08-02T21:43:23Z","size":371}]}]}}'
  recorded_at: Tue, 02 Jul 2024 22:43:48 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=older&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart=2023-01-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20220519171123|1088700858","continue":"||"},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve","revisions":[{"revid":1100917005,"parentid":1088700858,"user":"Uncle
        Bash007","userid":37714525,"timestamp":"2022-07-28T09:46:48Z","size":13079}]}]}}'
  recorded_at: Tue, 02 Jul 2024 22:43:49 GMT
- request:
    method: get
    uri: https://impact-visualizer-tools.wmcloud.org/count_revisions.php?from_rev_id=20142847&lang=en&page_id=2364730&project=wikipedia&to_rev_id=1100917005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{ "success": true, "data": [{"count":"261"}] }'
  recorded_at: Tue, 02 Jul 2024 22:43:49 GMT
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":1100917005}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJlN2JjYTYzZmJjMjBjMWJjNzdhNWQxZDM0N2JhNmQ1NiIsImp0aSI6IjdhZDU5MWYxNDJiOTdhNzhkNzk0MjdlNDY2NTQwYTkxMGQ2MzU3YmNkM2Y5MWVmMDNhOTVkNmRjNWM3M2IwODQ5NGJiZWViN2RjYmQxNTgyIiwiaWF0IjoxNjkzOTM4MTE4LjE3NzI4NSwibmJmIjoxNjkzOTM4MTE4LjE3NzI4OCwiZXhwIjozMzI1MDg0NjkxOC4xNzIwNiwic3ViIjoiMzE4NzgwNTkiLCJpc3MiOiJodHRwczovL21ldGEud2lraW1lZGlhLm9yZyIsInJhdGVsaW1pdCI6eyJyZXF1ZXN0c19wZXJfdW5pdCI6MTUwMDAwLCJ1bml0IjoiSE9VUiJ9LCJzY29wZXMiOlsiYmFzaWMiLCJoaWdodm9sdW1lIl19.Qc8kk05WHufF8Xg6ZEIk87E5cqMjFcSEGcEfhAPQT31Uaiv067f0x0jW78l6xAV3cjNqqUdear83L1l3uGmkiJX0_uPEWMgG3gwpsqq4P14F4kAmMrDvHxxjXoXZ1IZOpaVpHJWxQ-9AlzBK35e9kcwVsTlo98laCb4xUuUkYRxuiCPKOxRMMKMwRzuz5uGo18mGCNfLe36eQVYkdP_t3WmBuP_1425jxYYuhyMpXDoGKHJqbHeUdFzDd4FpJyWa_77hYqYSBtf_f_UJ9S94BP3teErDSiqFr2AH_pWJXKinI5zZYZAjysS2vrPfePHJnyamm9RFp8QV_xBZQX1yKHzsb79s5ICz8YmZF_edTkYPxe9HE0RQNeOXAAZDPDsRzbDJqIdrR-vFP00muSPuE1jgjBI5d5uAEGM2wJ10ZVflmhrZOO7gfmSg7IpFZHuOpf9POgeMzQdAZCvJPY_kO5FKAoxQuV-ljgTljb-7hl078Qp7qtfZAPx66RLStTXKTBYvabCQg4epWPZ-7JGCdiVlypdiv858tRcy_VDTWxcHhYWkdrD5cGrmApuDRFek5eW_YA4oloB_6nZX35nrppfs6cKkomlVC_NQI1LEmgVZuKpg1GrsWs-Uy-6ao9HkjZAqcXvMMXOs7zVXhSe55RBnUGKwrx96UDeFIVCbncQ'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 150000, 150000;w=3600
      X-Ratelimit-Remaining:
      - '149985'
      X-Ratelimit-Reset:
      - '971'
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.9.2"}},"scores":{"1100917005":{"articlequality":{"score":{"prediction":"C","probability":{"B":0.28299015396401506,"C":0.3573328702796922,"FA":0.01692526038760883,"GA":0.3075854796998168,"Start":0.029945263882405374,"Stub":0.005220971786461749}}}}}}}'
  recorded_at: Tue, 02 Jul 2024 22:43:49 GMT
recorded_with: VCR 6.1.0
