---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=info&redirects=true&titles=Yankaaaari%20Game%20Reserve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"ns":0,"title":"Yankaaaari
        Game Reserve","missing":true,"contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr"}]}}'
  recorded_at: Thu, 30 Apr 2026 19:13:54 GMT
recorded_with: VCR 6.1.0
