---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=older&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids%7Cslotsha1&rvstart=2023-01-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20220519171123|1088700858","continue":"||"},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve","revisions":[{"revid":1100917005,"parentid":1088700858,"user":"Uncle
        Bash007","userid":37714525,"timestamp":"2022-07-28T09:46:48Z","size":13079,"sha1":"6e90a6449cec148279e48ee4aa98a32ab9cc4cbb"}]}]}}'
  recorded_at: Thu, 30 Apr 2026 21:02:52 GMT
[...]
- request:
    method: get
    uri: https://impact-visualizer-tools.wmcloud.org/count_revisions.php?from_rev_id=3456&lang=en&page_id=2364730&project=wikipedia&to_rev_id=1100917005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{ "success": true, "data": [{"count":"262"}] }'
  recorded_at: Thu, 30 Apr 2026 21:02:53 GMT
[...]
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":1100917005}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50000, 50000;w=3600
      X-Ratelimit-Remaining:
      - '49999'
      X-Ratelimit-Reset:
      - '3427'
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.9.2"}},"scores":{"1100917005":{"articlequality":{"score":{"prediction":"C","probability":{"B":0.282990153964015,"C":0.35733287027969207,"FA":0.01692526038760883,"GA":0.3075854796998168,"Start":0.02994526388240537,"Stub":0.005220971786461749}}}}}}}'
  recorded_at: Thu, 30 Apr 2026 21:02:53 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=newer&rvend=2023-01-01T23:59:59Z&rvlimit=500&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"warnings":{"revisions":{"warnings":"Passing
        \"\" for timestamp parameter \"rvstart\" has been deprecated. If for some
        reason you need to explicitly specify the current time without calculating
        it client-side, use \"now\"."}},"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve"}]}}'
  recorded_at: Thu, 30 Apr 2026 21:02:53 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=newer&rvend=2023-01-08T23:59:59Z&rvlimit=500&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart=2023-01-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve"}]}}'
  recorded_at: Thu, 30 Apr 2026 21:02:55 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=2364730&prop=revisions&redirects=true&rvdir=newer&rvend=2023-01-30T23:59:59Z&rvlimit=500&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart=2023-01-29T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"pages":[{"pageid":2364730,"ns":0,"title":"Yankari
        Game Reserve"}]}}'
  recorded_at: Thu, 30 Apr 2026 21:03:00 GMT
recorded_with: VCR 6.1.0
