---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Thu, 03 Oct 2024 21:13:09 GMT
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&sites=enwiki&titles=Sierra+Ferrell&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"entities":{"Q110877092":{"pageid":105898649,"ns":0,"title":"Q110877092","lastrevid":2247056696,"modified":"2024-09-12T12:33:47Z","type":"item","id":"Q110877092","labels":{"en":{"language":"en","value":"Sierra
        Ferrell"},"cs":{"language":"cs","value":"Sierra Ferrell"},"nl":{"language":"nl","value":"Sierra
        Ferrell"},"ast":{"language":"ast","value":"Sierra Ferrell"},"ca":{"language":"ca","value":"Sierra
        Ferrell"},"da":{"language":"da","value":"Sierra Ferrell"},"de":{"language":"de","value":"Sierra
        Ferrell"},"es":{"language":"es","value":"Sierra Ferrell"},"eu":{"language":"eu","value":"Sierra
        Ferrell"},"fi":{"language":"fi","value":"Sierra Ferrell"},"fr":{"language":"fr","value":"Sierra
        Ferrell"},"hu":{"language":"hu","value":"Sierra Ferrell"},"it":{"language":"it","value":"Sierra
        Ferrell"},"nb":{"language":"nb","value":"Sierra Ferrell"},"nn":{"language":"nn","value":"Sierra
        Ferrell"},"pl":{"language":"pl","value":"Sierra Ferrell"},"pt":{"language":"pt","value":"Sierra
        Ferrell"},"ro":{"language":"ro","value":"Sierra Ferrell"},"se":{"language":"se","value":"Sierra
        Ferrell"},"sq":{"language":"sq","value":"Sierra Ferrell"},"sv":{"language":"sv","value":"Sierra
        Ferrell"},"tr":{"language":"tr","value":"Sierra Ferrell"},"pt-br":{"language":"pt-br","value":"Sierra
        Ferrell"},"sl":{"language":"sl","value":"Sierra Ferrell"}},"descriptions":{"en":{"language":"en","value":"American
        singer-songwriter (born 1988)"},"cs":{"language":"cs","value":"americk\u00e1
        zp\u011bva\u010dka"},"dag":{"language":"dag","value":"United States of America
        artist \u014bun ny\u025b pa\u0263a"}},"aliases":{"en":[{"language":"en","value":"Sierra
        Elizabeth Ferrell"}]},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$c6e9e32f-a7a9-4b40-a923-619b19a1da51","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","hash":"5760796ff6ebc63aae12cdcbf509b07ebf0bd201","datavalue":{"value":{"entity-type":"item","numeric-id":6581072,"id":"Q6581072"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$62e6a171-5e34-4b7e-b2e6-96a767a0d9de","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","hash":"5d9aed2c3197fcda899ff4eb02863355294acc5b","datavalue":{"value":{"entity-type":"item","numeric-id":177220,"id":"Q177220"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$BE77AF47-7608-465C-9346-D46D7B4F1EAF","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P106","hash":"f04bd5aa35475a83d896ec7532cca0b93d9b80a6","datavalue":{"value":{"entity-type":"item","numeric-id":66763670,"id":"Q66763670"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$704BCE44-8A91-431A-A2A8-BAAF11A8EBDC","rank":"normal"}],"P856":[{"mainsnak":{"snaktype":"value","property":"P856","hash":"11c31a5a42852d6d6e6bceaec6670b8c54a3eda3","datavalue":{"value":"https://www.sierraferrellmusic.com/","type":"string"},"datatype":"url"},"type":"statement","qualifiers":{"P407":[{"snaktype":"value","property":"P407","hash":"daf1c4fcb58181b02dff9cc89deb084004ddae4b","datavalue":{"value":{"entity-type":"item","numeric-id":1860,"id":"Q1860"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"57c1662952e75430b0b6ab3c15d26da4d2d505b8","datavalue":{"value":{"time":"+2023-02-23T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P407","P813"],"id":"Q110877092$337786E0-937D-474E-A9F0-AD8FFF00B08A","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","hash":"dabc815385d2e7ff56981f2389d5eb3cc35a3ea5","datavalue":{"value":{"time":"+1988-08-03T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q110877092$0A7421FC-82C8-4A2E-9C54-CCA6D4E4A15C","rank":"normal"}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","hash":"5f2ebe35ce3a0d68f90f7fdfc789ec535c92a6d3","datavalue":{"value":{"entity-type":"item","numeric-id":44564,"id":"Q44564"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$04B9872A-86DD-4A02-B011-699E08D7FB6D","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","hash":"52d0408c7915122e0519a22577f0cbdcb28f749b","datavalue":{"value":{"entity-type":"item","numeric-id":30,"id":"Q30"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$78A5908F-4150-4742-B18C-CB03E117AD15","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","hash":"0d0810457278f1b2af000a86932803eb87c97680","datavalue":{"value":{"entity-type":"item","numeric-id":60505889,"id":"Q60505889"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P1545":[{"snaktype":"value","property":"P1545","hash":"2a1ced1dca90648ea7e306acbadd74fc81a10722","datavalue":{"value":"1","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1545"],"id":"Q110877092$2B1743F5-11DD-43FD-8527-133B1F567A75","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P735","hash":"2d0e733af1cf4d9318be327db70dc72363fc215b","datavalue":{"value":{"entity-type":"item","numeric-id":385468,"id":"Q385468"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P1545":[{"snaktype":"value","property":"P1545","hash":"7241753c62a310cf84895620ea82250dcea65835","datavalue":{"value":"2","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1545"],"id":"Q110877092$0C731406-C873-4196-BBD0-6DCAC8CCF2B2","rank":"normal"}],"P734":[{"mainsnak":{"snaktype":"value","property":"P734","hash":"4a905f1a3d50a11adc8abcdae2577e78623b176e","datavalue":{"value":{"entity-type":"item","numeric-id":21493846,"id":"Q21493846"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$5CDDEBFA-7A29-495C-A5C3-59FAE96AE2C1","rank":"normal"}],"P1953":[{"mainsnak":{"snaktype":"value","property":"P1953","hash":"cc90cf1797864b165ffb5bb78eb7bf49f7d5dd2d","datavalue":{"value":"6772708","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"Q110877092$515F8A56-B9F6-41C2-AB7C-1C35D84EF0FB","rank":"normal","references":[{"hash":"cd02db1175e1bfea71294f643387c6cc55986700","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"c34208b35b041d6758e6b68814cd263cacdabb10","datavalue":{"value":{"entity-type":"item","numeric-id":504063,"id":"Q504063"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P434":[{"mainsnak":{"snaktype":"value","property":"P434","hash":"bbc060629a3c6dc81b333f90af8bd7af254fdc74","datavalue":{"value":"4a27848e-ffdc-45d2-bed4-f5d62b85dc3e","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"Q110877092$CECE94D0-4647-49F9-98F1-7FC7954E03A1","rank":"normal","references":[{"hash":"d7918e5a0f3cd1e153c45f6c08753996fd0a9408","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P2002":[{"mainsnak":{"snaktype":"value","property":"P2002","hash":"e9d24160cd9c3c5aa73cd84c61dfd7246ef5182f","datavalue":{"value":"SierraFerrell","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P6552":[{"snaktype":"value","property":"P6552","hash":"83b42ab4f2af6cb1d14a1271cb846e3823b36b29","datavalue":{"value":"1167070511186272261","type":"string"},"datatype":"external-id"}],"P1552":[{"snaktype":"value","property":"P1552","hash":"62f0039d240f7eeba6c6908a0d8807a6188324a1","datavalue":{"value":{"entity-type":"item","numeric-id":28378282,"id":"Q28378282"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P580":[{"snaktype":"value","property":"P580","hash":"bd081ea65dfba78608a18db3bc52dd00fd66f014","datavalue":{"value":{"time":"+2019-08-29T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P585":[{"snaktype":"value","property":"P585","hash":"a54824908b6b1d53b5c31fe85ac8108dba4175dc","datavalue":{"value":{"time":"+2021-12-27T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P6552","P1552","P580","P585"],"id":"Q110877092$327926C5-ABA0-4588-B44A-E248201367A9","rank":"normal","references":[{"hash":"b94178579c48f8dfe9e57d6b942366c4a7a52006","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"6907ba2d586b11358b2dd25031aba4b505e9f63d","datavalue":{"value":{"entity-type":"item","numeric-id":918,"id":"Q918"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P1902":[{"mainsnak":{"snaktype":"value","property":"P1902","hash":"78675c89d61288e39c2b4a7184684c88536c3f20","datavalue":{"value":"3oVcF3VdpMuvMvLLyHPT4t","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"287566aab13d08cf4ac30520f0625d21c5120d3f","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"}],"P1552":[{"snaktype":"value","property":"P1552","hash":"cd7b20383169715539c0c7d5d88b8c760830e0d1","datavalue":{"value":{"entity-type":"item","numeric-id":98962768,"id":"Q98962768"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P1810","P1552"],"id":"Q110877092$240F2039-4CC5-4221-92E9-E1CC655CB477","rank":"normal","references":[{"hash":"538bf6279e6e6d9237657c9bfacce1a400b73160","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"9ec10385b824daea40c2c192394a4ce1f4346c03","datavalue":{"value":{"entity-type":"item","numeric-id":689141,"id":"Q689141"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"f82852293be2d3b877b75d26f23dc549d9740186","datavalue":{"value":{"time":"+2021-12-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P136":[{"mainsnak":{"snaktype":"value","property":"P136","hash":"d2f84b1057aa80ca91181b2875332a1ce30e8285","datavalue":{"value":{"entity-type":"item","numeric-id":213714,"id":"Q213714"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$C126C43B-0FDA-4513-BF9C-829235919E58","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P136","hash":"2f8b0728d8dcd26753b6efceb6ec410c4cda2164","datavalue":{"value":{"entity-type":"item","numeric-id":43343,"id":"Q43343"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$4740C028-721A-4DBD-A5B0-14CB510AF779","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P136","hash":"dae0be4539dfa21d8408afc5de30099088258c17","datavalue":{"value":{"entity-type":"item","numeric-id":131272,"id":"Q131272"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$7D6377A7-4119-4469-962A-73B36A5926CC","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P136","hash":"030bb0218b6c1bb5d2a3ca19a90386aa9779f507","datavalue":{"value":{"entity-type":"item","numeric-id":844245,"id":"Q844245"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$A9D66D3C-BD00-41C6-B7FE-A1644EEDDA81","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","hash":"bda996fa50cde4ab09a5fa03830e3cf9cd2dfd15","datavalue":{"value":"Sierra
        Ferrell.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q110877092$0b215f25-41ab-c0f5-e420-58be8ce4e0a9","rank":"normal"}],"P1344":[{"mainsnak":{"snaktype":"value","property":"P1344","hash":"e5401d4187a3eb0488fc9351710ee3795e1c4f3c","datavalue":{"value":{"entity-type":"item","numeric-id":120755156,"id":"Q120755156"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q110877092$1cfbb019-4964-b016-76fa-6732a181ed40","rank":"normal","references":[{"hash":"03bf6b43b0e916f2d35d6924dffc8df67ab3e671","snaks":{"P854":[{"snaktype":"value","property":"P854","hash":"23f34656d857cc1c78e1bcf26f97757c6391f01a","datavalue":{"value":"https://www.calgaryfolkfest.com/festival/artist/sierra-ferrell","type":"string"},"datatype":"url"}],"P813":[{"snaktype":"value","property":"P813","hash":"c33af6e7c01d5d7c6a24e7501f5f925108dc35ee","datavalue":{"value":{"time":"+2023-07-00T00:00:00Z","timezone":0,"before":0,"after":0,"precision":10,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P854","P813"]}]}],"P8819":[{"mainsnak":{"snaktype":"value","property":"P8819","hash":"7cc09cde8b72f4fa697220a44a6b2dc699a67e41","datavalue":{"value":"sierra-ferrell","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q110877092$EC836EB6-02B7-4B2D-A604-001AE7F18648","rank":"normal"}],"P8334":[{"mainsnak":{"snaktype":"value","property":"P8334","hash":"710330370d6a7e0a6bcec61a1fc9d659653d6512","datavalue":{"value":"199078","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q110877092$6A823794-4C3C-4A0E-BA41-2A20A7BDF1EE","rank":"normal"}],"P2671":[{"mainsnak":{"snaktype":"value","property":"P2671","hash":"70f38690840e48c2fc8fef394a6b5e2598c6ca3d","datavalue":{"value":"/g/11j8rfpwln","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q110877092$4C204A88-C7F7-4970-81F0-F1DA78EDD45E","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"ac8d00c14a0e2364942d3a3bbc2726e65b5f4c55","datavalue":{"value":"Sierra
        Ferrell","type":"string"},"datatype":"string"},"type":"statement","id":"Q110877092$a35e7ba7-d211-44af-bd0f-72d8889892f0","rank":"normal"}]},"sitelinks":{"commonswiki":{"site":"commonswiki","title":"Category:Sierra
        Ferrell","badges":[]},"cswiki":{"site":"cswiki","title":"Sierra Ferrell","badges":[]},"enwiki":{"site":"enwiki","title":"Sierra
        Ferrell","badges":[]}}}},"success":1}'
  recorded_at: Thu, 03 Oct 2024 21:13:09 GMT
recorded_with: VCR 6.1.0
