---
http_interactions:
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/wikidatawiki/?features&models=itemquality&revids=641962088%7C12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "wikidatawiki": {
            "models": {
              "itemquality": {
                "version": "0.5.0"
              }
            },
            "scores": {
              "12345": {
                "itemquality": {
                  "features": {
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_complete_translations>)": false,
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_description_translations>)": false,
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_label_translations>)": false,
                    "feature.item_in_set('de', <datasource.wikidatawiki.revision.important_complete_translations>)": false,
 [...]
