---
http_interactions:
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/enwiki/?features&models=articlequality&revids=641962088%7C12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "enwiki": {
            "models": {
              "articlequality": {
                "version": "0.9.2"
              }
            },
            "scores": {
              "12345": {
                "articlequality": {
                  "features": {
                    "feature.english.stemmed.revision.stems_length": 458,
                    "feature.enwiki.infobox_images": 0,
                    "feature.enwiki.main_article_templates": 0.0,
                    "feature.enwiki.revision.category_links": 0.0,
                    "feature.enwiki.revision.cite_templates": 0.0,
                    "feature.enwiki.revision.cn_templates": 0.0,
                    "feature.enwiki.revision.image_links": 0.0,
                    "feature.enwiki.revision.image_template": 0.0,
                    "feature.enwiki.revision.images_in_tags": 0,
                    "feature.enwiki.revision.images_in_templates": 0,
                    "feature.enwiki.revision.infobox_templates": 0.0,
                    "feature.enwiki.revision.paragraphs_without_refs_total_length": 928.0,
                    "feature.enwiki.revision.shortened_footnote_templates": 0.0,
                    "feature.enwiki.revision.who_templates": 0.0,
                    "feature.len(<datasource.english.idioms.revision.matches>)": 0.0,
                    "feature.len(<datasource.english.words_to_watch.revision.matches>)": 4.0,
                    "feature.len(<datasource.wikitext.revision.words>)": 111.0,
                    "feature.wikitext.revision.chars": 949.0,
                    "feature.wikitext.revision.content_chars": 843.0,
                    "feature.wikitext.revision.external_links": 0.0,
                    "feature.wikitext.revision.headings_by_level(2)": 0.0,
                    "feature.wikitext.revision.headings_by_level(3)": 0.0,
                    "feature.wikitext.revision.list_items": 0.0,
                    "feature.wikitext.revision.ref_tags": 0.0,
                    "feature.wikitext.revision.templates": 0.0,
                    "feature.wikitext.revision.wikilinks": 8.0
                  },
                  "score": {
                    "prediction": "Stub",
                    "probability": {
                      "B": 0.04109666150848109,
                      "C": 0.020607381770090968,
                      "FA": 0.0029400688910391592,
                      "GA": 0.004970401857774162,
                      "Start": 0.1736249330632796,
                      "Stub": 0.7567605529093351
                    }
                  }
                }
              },
              "641962088": {
                "articlequality": {
                  "features": {
                    "feature.english.stemmed.revision.stems_length": 93,
                    "feature.enwiki.infobox_images": 0,
                    "feature.enwiki.main_article_templates": 0.0,
                    "feature.enwiki.revision.category_links": 0.0,
                    "feature.enwiki.revision[...]
