---
http_interactions:
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/enwiki/?features&models=articlequality&revids=641962088%7C641962089%7C641962090%7C641962091%7C641962092%7C641962093%7C641962094%7C641962095%7C641962096%7C641962097%7C641962098%7C641962099%7C641962100%7C641962101%7C641962102%7C641962103%7C641962104%7C641962105%7C641962106%7C641962107%7C641962108%7C641962109%7C641962110%7C641962111%7C641962112%7C641962113%7C641962114%7C641962115%7C641962116%7C641962117%7C641962118%7C641962119%7C641962120%7C641962121%7C641962122%7C641962123%7C641962124%7C641962125%7C641962126%7C641962127%7C641962128%7C641962129%7C641962130%7C641962131%7C641962132%7C641962133%7C641962134%7C641962135%7C641962136%7C641962137
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "enwiki": {
            "models": {
              "articlequality": {
                "version": "0.9.2"
              }
            },
            "scores": {
              "641962088": {
                "articlequality": {
                  "features": {
                    "feature.english.stemmed.revision.stems_length": 93,
                    "feature.enwiki.infobox_images": 0,
                    "feature.enwiki.main_article_templates": 0.0,
                    "feature.enwiki.revision.category_links": 0.0,
                    "feature.enwiki.revision.cite_templates": 0.0,
                    "feature.enwiki.revision.cn_templates": 0.0,
                    "feature.enwiki.revision.image_links": 0.0,
                    "feature.enwiki.revision.image_template": 0.0,
                    "feature.enwiki.revision.images_in_tags": 0,
                    "feature.enwiki.revision.images_in_templates": 0,
                    "feature.enwiki.revision.infobox_templates": 0.0,
                    "feature.enwiki.revision.paragraphs_without_refs_total_length": 581.0,
                    "feature.enwiki.revision.shortened_footnote_templates": 0.0,
                    "feature.enwiki.revision.who_templates": 0.0,
                    "feature.len(<datasource.english.idioms.revision.matches>)": 0.0,
                    "feature.len(<datasource.english.words_to_watch.revision.matches>)": 1.0,
                    "feature.len(<datasource.wikitext.revision.words>)": 21.0,
                    "feature.wikitext.revision.chars": 589.0,
                    "feature.wikitext.revision.content_chars": 589.0,
                    "feature.wikitext.revision.external_links": 4.0,
                    "feature.wikitext.revision.headings_by_level(2)": 0.0,
                    "feature.wikitext.revision.headings_by_level(3)": 0.0,
                    "feature.wikitext.revision.list_items": 0.0,
                    "feature.wikitext.revision.ref_tags": 0.0,
                    "feature.wikitext.revision.templates": 0.0,
                    "feature.wikitext.revision.wikilinks": 0.0
                  },
                  "score": {
                    "prediction": "Stub",
                    "probability": {
                      "B": 0.05346747947031159,
                      "C": 0.03566589837597718,
                      "FA": 0.0029837211689327093,
                      "GA": 0.005891859964515511,
                      "Start": 0.2826812730433699,
                      "Stub": 0.6193097679768931
                    }
                  }
                }
              },
              "641962089": {
                "articlequality": {
                  "features": {
                    "feature.english.stemmed.revision.stems_length": 15110,
                    "feature.enwiki.infobox_images": 3,
                    "feature.enwiki.main_article_templates": 3.0,
                    "feature.enwiki.revision.category_links": 2.0,
                    "feature.enwiki.revis[...]
