---
http_interactions:
- request:
    method: get
    uri: https://ores.wikimedia.org/v3/scores/wikidatawiki/?features&models=itemquality&revids=641962088%7C641962089%7C641962090%7C641962091%7C641962092%7C641962093%7C641962094%7C641962095%7C641962096%7C641962097%7C641962098%7C641962099%7C641962100%7C641962101%7C641962102%7C641962103%7C641962104%7C641962105%7C641962106%7C641962107%7C641962108%7C641962109%7C641962110%7C641962111%7C641962112%7C641962113%7C641962114%7C641962115%7C641962116%7C641962117%7C641962118%7C641962119%7C641962120%7C641962121%7C641962122%7C641962123%7C641962124%7C641962125%7C641962126%7C641962127%7C641962128%7C641962129%7C641962130%7C641962131%7C641962132%7C641962133%7C641962134%7C641962135%7C641962136%7C641962137
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "wikidatawiki": {
            "models": {
              "itemquality": {
                "version": "0.5.0"
              }
            },
            "scores": {
              "641962088": {
                "itemquality": {
                  "features": {
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_complete_translations>)": false,
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_description_translations>)": false,
                    "feature.item_in_set('ar', <datasource.wikidatawiki.revision.important_label_translations>)": false,
                    "feature.item_in_set('de', <datasource.wikidatawiki.revision.important_complete_translations>)": true,
  [...]
