---
http_interactions:
- request:
    method: get
    uri: https://www.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=revisions&rvlimit=3&rvprop=size%7Cuser%7Cuserid%7Ctimestamp&titles=Guitar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=revisions&rvlimit=3&rvprop=size%7Cuser%7Cuserid%7Ctimestamp&titles=Guitar
      Content-Type:
      - text/html; charset=iso-8859-1
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://en.wikipedia.org/w/api.php?action=query&amp;format=json&amp;formatversion=2&amp;prop=revisions&amp;rvlimit=3&amp;rvprop=size%7Cuser%7Cuserid%7Ctimestamp&amp;titles=Guitar">here</a>.</p>
        </body></html>
  recorded_at: Wed, 21 Jun 2023 20:16:47 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&prop=revisions&rvlimit=3&rvprop=size%7Cuser%7Cuserid%7Ctimestamp&titles=Guitar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"continue":{"rvcontinue":"20230312233721|1144298939","continue":"||"},"query":{"pages":[{"pageid":11846,"ns":0,"title":"Guitar","revisions":[{"user":"HeyElliott","userid":44120587,"timestamp":"2023-05-24T16:39:04Z","size":89710},{"user":"Tamfang","userid":609725,"timestamp":"2023-03-22T21:11:44Z","size":89701},{"user":"Citation
        bot","userid":7903804,"timestamp":"2023-03-19T06:13:31Z","size":89712}]}]}}'
  recorded_at: Wed, 21 Jun 2023 20:16:47 GMT
recorded_with: VCR 6.1.0
