---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&list=users&ususers=AnnieLiu13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"users":[{"userid":44422428,"name":"AnnieLiu13"}]}}'
  recorded_at: Mon, 29 Jan 2024 20:08:12 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&list=users&ususers=Lvanzen3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"users":[{"userid":44422430,"name":"Lvanzen3"}]}}'
  recorded_at: Mon, 29 Jan 2024 20:08:12 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&list=users&ususers=ShawnMohammed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"users":[{"userid":44422446,"name":"ShawnMohammed"}]}}'
  recorded_at: Mon, 29 Jan 2024 20:08:12 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&list=users&ususers=Britneys99
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: UTF-8
      string: '{"batchcomplete":true,"query":{"users":[{"userid":44422431,"name":"Britneys99"}]}}'
  recorded_at: Mon, 29 Jan 2024 20:08:12 GMT
recorded_with: VCR 6.1.0
