.Container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1.5rem;
  
  @mixin above {
    padding: 0 2rem;
  }
}

.Container--padded {
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  @mixin above {
  } 
}

.Section {
  width: 100vw;
  overflow: hidden;
}
