.TopicPreview {
  border: 1px solid #e2e2e2;
  background: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem !important;
}

.TopicTimepoints {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TopicTimepoint {
  border: 1px solid #e2e2e2;
  background: white;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem !important;
}