---
http_interactions:
- request:
    method: get
    uri: https://de.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=19129&prop=revisions&redirects=true&rvdir=newer&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20030127171522|102738","continue":"||"},"query":{"pages":[{"pageid":19129,"ns":0,"title":"MACHO","revisions":[{"revid":70514,"parentid":0,"user":"Wing","userid":550,"timestamp":"2003-01-27T15:23:10Z","size":448}]}]}}'
  recorded_at: Tue, 02 Jul 2024 22:43:37 GMT
- request:
    method: get
    uri: https://de.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&pageids=19129&prop=revisions&redirects=true&rvdir=older&rvlimit=1&rvprop=size%7Cuser%7Cuserid%7Ctimestamp%7Cids&rvstart=2024-06-01T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20231105190914|238828604","continue":"||"},"query":{"pages":[{"pageid":19129,"ns":0,"title":"MACHO","revisions":[{"revid":243145509,"parentid":238828604,"user":"Jonntek2012","userid":4363350,"timestamp":"2024-03-15T20:44:16Z","size":3531}]}]}}'
  recorded_at: Tue, 02 Jul 2024 22:43:37 GMT
- request:
    method: get
    uri: https://impact-visualizer-tools.wmcloud.org/count_revisions.php?from_rev_id=70514&lang=de&page_id=19129&project=wikipedia&to_rev_id=243145509
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{ "success": true, "data": [{"count":"102"}] }'
  recorded_at: Tue, 02 Jul 2024 22:43:37 GMT
recorded_with: VCR 6.1.0
