---
http_interactions:
- request:
    method: post
    uri: https://www.wikidata.org/w/api.php
    body:
      encoding: UTF-8
      string: action=wbgetentities&format=json&ids=Q6581097%7CQ6581072&languages=en&props=labels&sites=enwiki
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - <CLIENT_IP>
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q6581097":{"type":"item","id":"Q6581097","labels":{"en":{"language":"en","value":"male"}}},"Q6581072":{"type":"item","id":"Q6581072","labels":{"en":{"language":"en","value":"female"}}}},"success":1}'
  recorded_at: Thu, 30 Apr 2026 19:13:53 GMT
recorded_with: VCR 6.1.0
