---
http_interactions:
- request:
    method: get
    uri: https://wikiwho-api.wmcloud.org/en/api/v1.0.0-beta/rev_content/rev_id/641962088/?editor=true&o_rev_id=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"article_title":"Manspreading","page_id":45010238,"success":true,"message":null,"revisions":[{"641962088":{"editor":"17423097","time":"2015-01-11T03:35:32Z","tokens":[{"str":"manspreading","o_rev_id":641962088,"editor":"17423097"},{"str":"is","o_rev_id":641962088,"editor":"17423097"},{"str":"the","o_rev_id":641962088,"editor":"17423097"},{"str":"male","o_rev_id":641962088,"editor":"17423097"},{"str":"habit","o_rev_id":641962088,"editor":"17423097"},{"str":"of","o_rev_id":641962088,"editor":"17423097"},{"str":"sitting","o_rev_id":641962088,"editor":"17423097"},{"str":"in","o_rev_id":641962088,"editor":"17423097"},{"str":"public","o_rev_id":641962088,"editor":"17423097"},{"str":"transport","o_[...]
