---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&formatversion=2&list=users&ususerids=25848390
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 67.170.51.150
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":true,"query":{"users":[{"userid":25848390,"name":"TiltuM"}]}}'
  recorded_at: Tue, 02 Jul 2024 23:01:34 GMT
recorded_with: VCR 6.1.0
